<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Campus Hire - Student Profile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">



  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Dates -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-datepicker.min.css') }}">

  <!-- Template Main CSS File -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="CampusHire Logo" id="logo">
        <span class="d-none d-lg-block">CampusHire</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ url_for('static', filename=user_details.profileImage) }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user_details.fname }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user_details.fname }}</h6>
              <span>
                {{ user_details.jobs[0].title }} | {{ user_details.education[0].degree }} {{ user_details.education[0].fieldOfStudy }}
              </span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('profile') }}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('logout') }}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed " href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{{ url_for('jobs') }}">
        <i class="bi bi-briefcase"></i>
      <span>General Jobs</span>
      </a>
    </li><!-- End Dashboard Nav -->

    </li><!-- End Tables Nav -->

    <li class="nav-heading">_________________________________________</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{{ url_for('profile') }}">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    
    {% if user_details.role == 'company' %}
    <li class="nav-item">
      <a class="nav-link collapsed" href="{{ url_for('post_job') }}">
      <i class="bi bi-patch-plus"></i>
       <span>Post A Job </span>
      </a>
    </li>
    {% endif %}
  </ul>

</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Student Profile</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <p></p>
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{ url_for('static', filename=user_details.profileImage) }}" alt="Profile" class="rounded-circle">
              <h2>{{ user_details.fname }}</h2>
              <h3>
                {{ user_details.jobs[0].title }} | {{ user_details.education[0].degree }} {{ user_details.education[0].fieldOfStudy }}
              </h3>
              <div class="social-links mt-2">
                <a href="https://twitter.com" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>

              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Personal Overview </button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Experience</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Education</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-cv">CV with AI </button>
                </li>

              </ul>

              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">{{ user_details.description }}</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ user_details.fname }}</div>
                  </div>
                  
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user_details.email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Last Job</div>
                    <div class="col-lg-9 col-md-8">{{ user_details.jobs[0].title }} at {{ user_details.jobs[0].company }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Last Education</div>
                    <div class="col-lg-9 col-md-8">
                      {{ user_details.education[0].degree }} {{ user_details.education[0].fieldOfStudy }} at {{ user_details.education[0].school }}
                    </div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="{{ url_for('edit_student_job') }}" method="post">

                    <div class="row mb-3">
                      <div class="col-md-8 col-lg-9">
                        {% for job in user_details.jobs %}
                          <div class="job-entry">
                            <input type="hidden" name="job_id" value="{{ job.id }}">
                            <label for="company" class="col-md-4 col-lg-3 col-form-label">Company:</label>
                            <input name="company" type="text" class="form-control" id="company" value="{{ job.company }}">
                            <label for="Job" class="col-form-label">Title:</label>
                            <input name="job" type="text" class="form-control" id="Job" value="{{ job.title }}">
                            <label for="datepicker" class="col-form-label">Start Date:</label>
                            <input type="text" class="form-control" id="datepicker" name="start_date" value="{{ job.startDate }}">
                            <label for="datepicker" class="col-form-label">End Date:</label>
                            <input type="text" class="form-control" id="datepicker2" name="end_date" value="{{ job.endDate }}">
                            <label for="about" class="col-form-label">Description:</label>
                            <textarea name="about" class="form-control" id="about" style="height: 100px">{{ job.description }}</textarea>
                          </div>
                          {% if not loop.last %}
                            <hr> <!-- Graphical separation between jobs -->
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>                    

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form action="{{ url_for('edit_education') }}" method="post">

                    <div class="row mb-3">
                      <div class="col-md-8 col-lg-9">
                        {% for ed in user_details.education %}
                          <div class="job-entry">
                            <input type="hidden" name="education_id" value="{{ ed.id }}">
                            <label for="school" class="col-md-4 col-lg-3 col-form-label">School:</label>
                            <input name="company" type="text" class="form-control" id="company" value="{{ ed.school }}">
                            <label for="degree" class="col-form-label">Degree:</label>
                            <input name="degree" type="text" class="form-control" id="Job" value="{{ ed.degree }}">
                            <label for="fieldOfStudy" class="col-form-label">Field of study:</label>
                            <input name="fieldOfStudy" type="text" class="form-control" id="Job" value="{{ ed.fieldOfStudy }}">                            
                            <label for="datepicker" class="col-form-label">Start Date:</label>
                            <input type="text" class="form-control" id="datepicker" name="start_date" value="{{ ed.startDate }}">
                            <label for="datepicker" class="col-form-label">End Date:</label>
                            <input type="text" class="form-control" id="datepicker2" name="end_date" value="{{ ed.endDate }}">
                            <label for="about" class="col-form-label">Description:</label>
                            <textarea name="about" class="form-control" id="about" style="height: 100px">{{ ed.description }}</textarea>
                          </div>
                          {% if not loop.last %}
                            <hr> <!-- Graphical separation between education -->
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div> 

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->
                  </div>
                
                  <div class="tab-pane fade pt-3" id="profile-cv">
                    <h5 class="card-title">Welcome!</h5>
                    <p class="small fst-italic">
                        Welcome to "CV with AI", where our AI-powered platform streamlines the CV creation process,
                        helping you craft personalized resumes in 
                        minutes that showcase your unique skills and experiences, 
                        ultimately boosting your chances of landing your dream job."
                    </p>
                    <p><strong>Please Note:</strong> After clicking 'Generate New CV with AI,' it may take up to 10 seconds for the PDF to download."</p>
                
                    <div class="btn-group" role="group">
                        {% if user_details.is_cv_created == 'true' %}
                        <form action="{{ url_for('generate_student_cv') }}" method="post" class="mb-3">
                            <button type="submit" class="btn btn-primary" disabled>Generate new CV with AI</button>
                        </form>
                        {% elif user_details.is_cv_created == 'false' %}   
                        <form action="{{ url_for('generate_student_cv') }}" method="post" class="mb-3">
                          <button type="submit" class="btn btn-primary">Generate new CV with AI</button>
                        </form>
                        {% endif %}

                        <div class="mb-3"></div> <!-- Empty div for spacing -->

                        {% if user_details.is_cv_created == 'true' %}
                        <form action="{{ url_for('download_student_cv') }}" method="post" class="mb-3">
                          <button type="submit" class="btn btn-primary">Download existing CV</button>
                        </form>
                        {% elif user_details.is_cv_created == 'false' %}   
                        <form action="{{ url_for('download_student_cv') }}" method="post" class="mb-3">
                          <button type="submit" class="btn btn-primary" disabled>Download existing CV</button>
                        </form>
                        {% endif %}
                    </div>
                </div>                
              </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>CampusHire</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- Include JavaScript files -->
<script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.umd.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


<script>
  $(document).ready(function(){
    // Initialize Bootstrap Datepicker
    $('#datepicker').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true
    });
  });  
</script>

</body>

</html>
